<!-- 右边 start -->
<div class="rightPage">
    <div class="rightPagein">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="javascript:;">管理信息</a></li>
                <li><a href="javascript:;">首页背景管理</a></li>
            </ul>
        </div>	    
        <div class="rightinfo">    
            <form action="{:url('@api/index/doSaveBgImg')}" id="bgImgForm">
                <div class="formbody">       
                    <div class="formtitle"><b><span></span><span>首页背景管理</span></b></div>
                    <ul class="forminfo">
                        <li>
                            <label>背景图片</label>
                            <input type="hidden" name="bg_image" value=""/>
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="bgImg">上传图片</button>
                                <div class="layui-upload-list" style="margin-left: 84px;">
                                    <img class="layui-upload-img" id="uploaded" style="width:100px;" src="{$img}"/>
                                    <p id="demoText"></p>
                                </div>
                            </div> 
                        </li>
                        <li style="margin-top: 25px;margin-bottom: 40px;">
                            <input type="button" class="btn btn-primary submitBtn" value="保存"/>
                        </li>
                    </ul>
                </div>
            </form>           
        </div>
    </div>
</div>
<!-- 右边 end -->
<script>
    var uploadUrl = "{:url('@api/index/doUpload')}";
</script>
