<!-- 右边 start -->
<div class="rightPage">
    <div class="rightPagein">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="javascript:;">管理信息</a></li>
                <li><a href="javascript:;">品牌理念管理</a></li>
            </ul>
        </div>	    
        <div class="rightinfo">    
            <form action="{:url('@api/index/doSaveConcept')}" id="conceptForm">
                <div class="formbody">       
                    <div class="formtitle"><b><span></span><span>品牌理念</span></b></div>
                    <ul class="forminfo">
                        <li>
                            <label>品牌理念内容</label>
                            <textarea name="content" class="textinput">{$content}</textarea>
                        </li>
                        <li style="margin-top: 25px;margin-bottom: 40px;">
                            <input type="button" class="btn btn-primary submitBtn" value="保存"/>
                        </li>
                    </ul>
                </div>
            </form>           
        </div>
    </div>
</div>
<!-- 右边 end -->
