<!-- 右边 start -->
<div class="rightPage">
    <div class="rightPagein">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="javascript:;">管理信息</a></li>
                <li><a href="javascript:;">产品类型管理</a></li>
            </ul>
        </div>	    
        <div class="rightinfo">    
            <div class="tools">			    
                <ul class="toolbar">
                    <li class="click"><span><img src="/static/images/t01.png" /></span>添加</li>
                    <li><span><img src="/static/images/t03.png" /></span>删除</li> 
                </ul>	
            </div>	
            <table id="typeList" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style=""><input type="checkbox" class="checkall" /></th>
                        <th>编号</th>
                        <th>类型名称</th>
                        <th>图标</th>
                        <th>排序</th>
                        <th>创建时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
            </table>

            <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>
                <div class="tipinfo">
                    <span><img src="/static/images/ticon.png" /></span>
                    <div class="tipright">
                        <p>是否确认对信息的修改 ？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>
                <div class="tipbtn">
                    <input name="" type="button"  class="sure" value="确定" />&nbsp;
                    <input name="" type="button"  class="cancel" value="取消" />
                </div>
            </div>
        </div>
    </div>
    <!-- 右边 end -->